<form [formGroup]="form">
  <div class="flex h-screen">
    <div class="w-full flex flex-col justify-center items-center ">
      <div class="max-w-md">
        <brain-bread-crumbs [breadCrum]="breadCrum"></brain-bread-crumbs>
        <input [brainInputError]="inputHasError('name')" formControlName="name" type="text" placeholder="Nombre"  />
        <textarea  formControlName="address" [brainInputError]="inputHasError('address')" ngClass="mt-5 mb-2 h-40 " placeholder="Dirección"></textarea>
        <input [brainInputError]="inputHasError('nit')" formControlName="nit" type="text" placeholder="NIT"  />
        <div class="w-full flex justify-between my-5">
          <brain-save-button [isDesabled]="!formIsValid()" (do)="save($event)"></brain-save-button>
          <brain-cancel-button title="Cancelar" message="Quiere cancelar el registro ?" (doIt)="cancel($event)">
          </brain-cancel-button>
        </div>
      </div>
    </div>
  </div>
</form>