<form [formGroup]="form">
  <div class="flex h-screen">
    <div class="w-full flex flex-col justify-center items-center ">
      <div class="max-w-md">
        <div class="text-base breadcrumbs">
          <ul>
            <li><a>Inicio</a></li>
            <li>Nueva Empresa</li>
          </ul>
        </div>
        <input formControlName="name" type="text" placeholder="Nombre" class="input input-bordered input-primary w-full" />
        <textarea formControlName="address" class="textarea input-bordered textarea-primary w-full my-5" placeholder="Dirección"></textarea>
        <input formControlName="nit" type="text" placeholder="NIT" class="input input-bordered input-primary w-full" />
        <div class="w-full flex justify-between my-5">
          <brain-save-button (do)="save($event)"></brain-save-button>
          <brain-cancel-button title="Cancelar" message="Quiere cancelar el registro ?" (doIt)="cancel($event)">
          </brain-cancel-button>
        </div>
      </div>
    </div>
  </div>
</form>