<form [formGroup]="form">
    <div class="flex h-screen">
        <div class="w-full flex flex-col justify-center items-center mt-5">
            <div class="max-w-md">
                <div class="text-base breadcrumbs">
                    <ul>
                        <li><a>Inicio</a></li>
                        <li>Nuevo Cliente</li>
                    </ul>
                </div>
                <input [brainInputError]="inputHasError('name')" formControlName="name" type="text" placeholder="Nombres"  />
                <input [brainInputError]="inputHasError('lastName')" formControlName="lastName" type="text" placeholder="Apellidos" ngClass="my-5" />
                <input [brainInputError]="inputHasError('nit')" formControlName="nit" type="text" placeholder="NIT"  />
                <input [brainInputError]="inputHasError('email')" formControlName="email" type="email" ngClass="my-5" placeholder="Email"  />
                <textarea [brainInputError]="inputHasError('address')" formControlName="address"  placeholder="Dirección"></textarea>
                <div class="w-full flex justify-between my-5">
                    <input [brainInputError]="inputHasError('phone1')" formControlName="phone1" type="tel" placeholder="Telefono 1" ngClass="md:mb-0 md:mr-1" />
                    <input [brainInputError]="inputHasError('phone2')" formControlName="phone2" type="tel" placeholder="Telefono 2" ngClass="md:ml-1" />
                </div>
                <div class="w-full flex flex-col md:flex-row justify-between my-5 ">
                    <brain-save-button [isDesabled]="!formIsValid()" (do)="save($event)" class="mb-5 md:mb-0"></brain-save-button>
                    <brain-cancel-button title="Cancelar" message="Quiere cancelar el registro ?" (doIt)="cancel($event)">
                    </brain-cancel-button>
                </div>
            </div>
        </div>
    </div>
</form>