<div class="drawer">
    <input id="my-drawer" #router type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <div class="w-full h-full px-5">
        <label for="my-drawer" class="btn btn-primary drawer-button fixed mt-5"> <em class="fa-solid fa-bars"></em></label>
        <router-outlet></router-outlet>
    </div>
    </div> 
    <div class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
        <li><div class="divider">Empresa</div></li>
        <li><a (click)="check()"  [routerLink]="['/company/list']">Empresas</a></li>
        <li><a (click)="check()"  [routerLink]="['/branch/list']">Sub-empresa</a></li>
        <li><div class="divider">Inventario</div></li>
        <li><a (click)="check()"  [routerLink]="['/inventory/product/list']">Producto</a></li>
        <li><a (click)="check()"  [routerLink]="['/inventory/size/list']">Unidad de medida</a></li>
        <li><a (click)="check()"  [routerLink]="['/inventory/medical-house/list']">Casa medica</a></li>
        <li><a (click)="check()"  [routerLink]="['/inventory/product-combination/list']">Combinacion de productos</a></li>
        <li><a (click)="check()"  [routerLink]="['/inventory/product-movement/list']">Movimiento</a></li>
        <li><div class="divider">Usuario</div></li>
        <li><a (click)="check()"  [routerLink]="['/user/list']">Usuario</a></li>
        <li><div class="divider">Cliente</div></li>
        <li><a (click)="check()"  [routerLink]="['/customer/list']">Cliente</a></li>
        <li><div class="divider">Caja</div></li>
        <li><a (click)="check()"  [routerLink]="['/sale/list']">Venta</a></li>
      </ul>
    </div>
  </div>
