<form [formGroup]="form">
  <div class="flex justify-center items-center h-screen">
    <div class="flex flex-col w-full max-w-md">
      <brain-loading *ngIf="loading"></brain-loading>
      <brain-bread-crumbs [breadCrum]="breadCrum"></brain-bread-crumbs>
      <input type="string" (focusout)="setValue('customerTemp','customerId', listOfCustomer!.data, 'fullName')" list="customerKey" value placeholder="Cliente" formControlName="customerTemp"
      [brainInputError]="inputHasError('customerTemp')" ngClass="mt-5"/>
      <datalist id="customerKey">
          <option *ngFor="let customer of listOfCustomer?.data" [value]="customer.fullName">Cod# {{customer.id}}</option>
      </datalist>
      <input #productCombinationInput type="string" (focusout)="setValue('productCombinationTemp','productCombinationId', listOfProductsCombination!.data, 'joinName'); setProductCombination()" list="productList" value placeholder="Producto" formControlName="productCombinationTemp"
           class="input input-bordered input-primary w-full my-5"/>
          <datalist id="productList">
              <option *ngFor="let product of listOfProductsCombination?.data" value="{{product.product?.name}} {{product.amountSize}} {{product.size?.name}} {{product.medicalHouse?.name}} ({{product.saleFor?.name}})">Cod# {{product.id}}</option>
          </datalist>
      <input formControlName="quantity" (focusout)="addRow()" type="number" placeholder="Cantidad"
        class="input input-bordered input-primary w-full mb-5" />
      <div class="border-solid border border-black rounded-lg h-56 overflow-scroll p-1">
        <div class="w-full flex border-b border-primary " *ngFor="let list of listOfDetails; let i = index">
          <div class="w-11/12 flex justify-start items-center">
            {{list.productRowTemp}}
          </div>
          <div class="w-1/12 flex justify-center items-center border-l border-primary cursor-pointer" (click)="removeRow(i)">
            <em class="fa-solid fa-xmark"></em>
          </div>
        </div>
      </div>
      <div class="w-full flex justify-between my-5">
        <brain-save-button (do)="save($event)"></brain-save-button>
        <brain-cancel-button title="Cancelar" message="Quiere cancelar el registro ?" (doIt)="cancel($event)">
        </brain-cancel-button>
      </div>
    </div>
  </div>
</form>