<form [formGroup]="form">
<div class="flex h-screen">
  <div class="w-full flex flex-col justify-center items-center mt-5">
    <div class="max-w-md">
      <brain-loading *ngIf="loading"></brain-loading>
        <brain-bread-crumbs [breadCrum]="breadCrum"></brain-bread-crumbs>
      <input [brainInputError]="inputHasError('name')" formControlName="name" type="text" placeholder="Nombres"  />
      <input [brainInputError]="inputHasError('lastName')" formControlName="lastName" type="text" placeholder="Apellidos" ngClass="my-5" />
      <input [brainInputError]="inputHasError('email')" formControlName="email" type="emailo" placeholder="Email"  />
      <div class="flex flex-col md:flex-row my-5">
        <input [brainInputError]="inputHasError('password')" formControlName="password" type="password" placeholder="Contraseña" ngClass=" mb-2 md:mb-0 md:mr-1" />
        <input [brainInputError]="inputHasError('confirmPassword')" formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña" ngClass="md:ml-1" />
      </div> 
      <input (focusout)="setValue('profileTemp','profileId', listOfProfile!.data)" list="profileKey" type="text" [brainInputError]="inputHasError('profileTemp')" formControlName="profileTemp" placeholder="Perfil">
        <datalist id="profileKey">
          <option *ngFor="let profile of listOfProfile?.data" [value]="profile.name"></option>
        </datalist>
        
      <div class="w-full flex flex-col md:flex-row justify-between my-5 ">
        <brain-save-button [isDesabled]="!formIsValid()"  (do)="save($event)" class="mb-2 md:mb-0"></brain-save-button>
        <brain-cancel-button title="Cancelar" message="Quiere cancelar el registro ?" (doIt)="cancel($event)"></brain-cancel-button>
      </div>
    </div>
  </div>
</div>
</form>