<div class="flex h-screen">
    <div class="w-full flex flex-col justify-center items-center ">
      <div class="w-96">
        <brain-loading *ngIf="loading"></brain-loading>
         <brain-bread-crumbs [breadCrum]="breadCrum"></brain-bread-crumbs>
        <div class="flex justify-end mb-1">
          <a [routerLink]="['/inventory/medical-house/new']" class="btn btn-outline btn-primary btn-xs">Nuevo</a>
        </div>
        <div class="border-solid border border-black rounded-lg w-full h-96 overflow-scroll p-0 ">
          <table class="w-full">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Tel.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customer?.data" brainRowSelected ngClass="border-b border-primary cursor-pointer"
              (click)="find(customer.id!)">
                <td class="text-center" >{{customer.id}}</td>
                <td class="border-l border-primary">{{customer.name}} {{customer.lastName}}</td>
                <td class="border-l border-primary">{{customer.phone1}} - {{customer.phone2}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <brain-pagination></brain-pagination>
      </div>
    </div>
  </div>