<div class="flex h-screen">
    <div class="w-full flex flex-col justify-center items-center ">
      <div class="w-96">
        <brain-loading *ngIf="loading"></brain-loading>
         <brain-bread-crumbs [breadCrum]="breadCrum"></brain-bread-crumbs>
        <div class="flex justify-end mb-1">
          <a [routerLink]="['/company/new']" class="btn btn-outline btn-primary btn-xs">Nueva</a>
        </div>
        <div class="border-solid border border-black rounded-lg w-full h-96 overflow-scroll p-0 ">
          <table class="w-full">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>NIT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let company of companies.data" brainRowSelected ngClass="border-b border-primary cursor-pointer"
              (click)="find(company.id!)">
                <td class="text-center" >{{company.id}}</td>
                <td class="border-l border-primary">{{company.name}}</td>
                <td class="border-l border-primary">{{company.nit}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <brain-pagination></brain-pagination>
      </div>
    </div>
  </div>